{% extends 'base.html' %}
{% load static %}

{% block title %}
    فعالسازی حساب کاربری
{% endblock %}

{% block main %}
    <main>
        <section class="py-5 mb-5 mt-5">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h2 class="title-section">ایمیل فعالسازی برای شما ارسال شد. جهت فعالسازی و ورود به حساب کاربری خود
                        روی لینک داخل ایمیل کلیک
                        نمائید</h2>
                </div>
            </div>
        </section>
    </main>
{% endblock %}