{% extends 'base.html' %}
{% load static %}

{% block title %}
    گذرواژه جدید
{% endblock %}

{% block main %}
    <main>
        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-7 col-lg-5">
                        <div class="custom-bg p-2">

                            <div>
                                <ul>
                                    {% for field in form %}
                                        {% if field.errors %}
                                            <li style="list-style-type: disc; color: #ff0000">{{ field.errors }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>

                            <form class="" method="post">
                                {% csrf_token %}

                                {% for field in form %}
                                    <div class="field">
                                        {{ field.label_tag }} {{ field }}
                                    </div>
                                {% endfor %}

                                <div class="my-3">
                                    <button class="btn custom-btn w-100">تغییر گذرواژه</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}