{% extends 'base.html' %}
{% load static %}

{% block title %}
    بازیابی گذرواژه
{% endblock %}

{% block main %}
    <main>
        <section class="py-5 mb-5 mt-5">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h2 class="title-section">
                        ایمیل بازیابی گذرواژه حساب کاربری برای شما ارسال گردید. جهت ادامه فرایند
                        بازیابی، روی لینک داخل ایمیل کلیک نمائید
                    </h2>
                </div>
            </div>
        </section>
    </main>
{% endblock %}