{% extends 'base.html' %}
{% load static %}

{% block title %}
    عضویت در سایت
{% endblock %}

{% block main %}
    <main>
        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-7 col-lg-5">
                        <div class="custom-bg p-2">

                            <div class="my-3 text-center">عضویت در سایت</div>

                            <div>
                                <ul>
                                    {% if form.non_field_errors %}
                                        {% for error in form.non_field_errors %}
                                            <li style="list-style-type: disc; color: #ff0000">{{ error }}</li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>

                            <div>
                                <ul>
                                    {#                                    {% if form.errors %}#}
                                    {#                                        {% for field in form %}#}
                                    {#                                            {% for error in field.errors %}#}
                                    {#                                                <li style="list-style-type: disc; color: #ff0000">{{ error }}</li>#}
                                    {#                                            {% endfor %}#}
                                    {#                                        {% endfor %}#}
                                    {#                                    {% endif %}#}
                                </ul>
                            </div>


                            <form class="" method="post">
                                {% csrf_token %}

                                <div class="field">
                                    <i class="fa fa-envelope"></i>
                                    {#                                    <input class="email-input" type="email" placeholder="پست الکترونیک" dir="ltr"#}
                                    {#                                        maxlength="50" required="">#}
                                    {{ form.email }}
                                </div>

                                <div>
                                    <ul>
                                        <li style="color: #ad3f4a">{{ form.email.errors }}</li>
                                    </ul>
                                </div>

                                <div class="field">
                                    <i class="fa fa-user"></i>
                                    {#                                    <input class="password-input" dir="ltr" type="password" placeholder="گذرواژه">#}
                                    {{ form.username }}
                                </div>

                                <div>
                                    <ul>
                                        <li style="color: #ad3f4a">{{ form.username.errors }}</li>
                                    </ul>
                                </div>

                                <div class="field">
                                    <i class="fa fa-lock"></i>
                                    {#                                    <input class="password-input" dir="ltr" type="password" placeholder="گذرواژه">#}
                                    {{ form.password }}
                                </div>

                                <div>
                                    <ul>
                                        <li style="color: #ad3f4a">{{ form.password.errors }}</li>
                                    </ul>
                                </div>

                                <div class="mr-1">
                                    <div>
                                        <input type="checkbox" id="checkbox" onclick="reveal()" class="checkbox-input" tabindex="0">
                                        <label class="small">نمایش گذرواژه</label>
                                    </div>
                                </div>

                                <div class="my-3">
                                    <button class="btn custom-btn w-100">عضویت</button>
                                </div>

                                <div class="pb-2 border-bottom">
                                    <span class="small">حساب کاربری دارید؟</span>
                                    <a href="{% url 'account:login' %}" class="small">
                                        ورود به حساب
                                    </a>
                                </div>

                            </form>


                            <div class="">
                                <p class="small text-center my-3">عضویت از طریق حساب‌های کاربری دیگر</p>
                                <div class="">

                                    <div class="social-accunt">

                                        <a title="Google" class="" href="">
                                            <img height="24" src="{% static 'image/google.svg' %}"
                                                 class="d-block m-auto">
                                        </a>

                                        <a title="GitHub" class="" href="">
                                            <img height="24" src="{% static 'image/github.svg' %}"
                                                 class="d-block m-auto">
                                        </a>

                                        <a title="LinkedIn" class="" href="">
                                            <img height="24" src="{% static 'image/linkedin.svg' %}"
                                                 class="d-block m-auto">
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script type="text/javascript">
        function reveal() {
            if (document.getElementById('checkbox').checked) {
                document.getElementById("id_password").type = 'text';
            } else
                document.getElementById("id_password").type = 'password';
            document.getElementById("id_password").dir = 'ltr';
        }
    </script>
{% endblock %}