{% load static %}
<html lang="en">

<title>
    {% block title %}
    {% endblock %}
</title>

{% include 'includes/head.html' %}

<body>

<!-- header and navbar -->
{% include 'includes/header.html' %}

{% block main %}
{% endblock %}

<!-- footer -->
{% include 'includes/footer.html' %}

<!-- scripts -->
{% include 'includes/scripts.html' %}

<!-- Reload pages in navigations -->
<script>
    window.addEventListener("pageshow", function (event) {
        var historyTraversal = event.persisted ||
            (typeof window.performance != "undefined" &&
                window.performance.navigation.type === 2);
        if (historyTraversal) {
            // Handle page restore.
            window.location.reload();
        }
    });
</script>

</body>

</html>